h1
{
    color: #fab1dc;
}

h2
{
    color: #ffa0d7;
}

p, li, form, table, nav
{
    color: #FFE5E5;
}

a
{
    color: #FFE5E5;
}

nav
{
    background-color: #7c26a7;
    padding: 10px;
    margin-bottom: 30px;
}

nav a 
{
    color: #FFE5E5;
}

nav a:hover 
{
    background-color: #FF6AC2;
}

ul
{
    color: #FFE5E5;
}

body
{
    background-color: #5D12D2;
}

.right
{
    float: right;
}

.row1, .row2
{
    display: flex;
    margin: 30px;
    border-radius: 2em;
    flex-wrap: wrap;
}

.row1
{
    background-color: #606833;
}
.row2 
{
    background-color: #642e4e;
}

.col3, .col4
{
    margin: auto;
}

.col1, .col2
{
    margin-left: 50px;
}

.banner
{
    max-width: 100%;
}

.heading
{
    text-align: center;
    margin-top: 20px;
}

.row
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.col1 
{
    display: flex;
    justify-content: space-evenly;
}

.col1 div 
{
    padding: 50px;
}

aside
{
    background-color: rgb(123, 88, 143);
    border-radius: 20px;
    padding: 20px;
}

.description
{
    text-align: center;
    width: 300px;
    margin-left: 600px; 
}

p, h1, h2, ul, nav a 
{
    font-size: 1vw;
}

.skip 
{
        background-color: #ffffff;
        padding: 5px;
        border: 1px solid #000000;
        text-decoration: none;
        position: absolute; /* positions an element relative to the top left corner of the viewport */
        left: -999px;
}

svg 
{
    color: white;
}

@media screen and (max-width: 500px)
{
    nav a 
    {
        display: block;
        margin-bottom: 10px;
    }
    nav span 
    {
        display: none;
    }
}
